<h1>Checkout Order</h1>
<form method="post" action="/book_tour">
    <h2>Would You Like to Book a Tour?</h2>
    <input name="yesTour" value="Yes" type="submit">
    <input name="noTour" value="No" type="submit">
</form>
<div>
    <form>
        <h3>Tour1</h3>
        <p>Tour1 price</p>
        <input name="bookTour" value="Book" type="submit">
    </form>
</div>
<form method="post">
    <label for="nameOnCard">Name:</label>
    <input name="nameOnCard">
    <br>
    <label for="ccNumber">Credit Card No.:</label>
    <input name="ccNumber">
    <br>
    <label for="ccv">CCV:</label>
    <input name="ccv">            
    <br>
    <input name="purchase" value="Purchase" type="submit">
</form>