<h1>Checkout Order</h1>

<h2>Total Price: ${{room.price}}</h2>

<form method="POST" action="/purchase">
    <label for="nameOnCard">Name:</label>
    <input name="nameOnCard">
    <br>
    <label for="ccNumber">Credit Card No.:</label>
    <input name="ccNumber">
    <br>
    <label for="ccv">CCV:</label>
    <input name="ccv">            
    <br>
    <button>Purchase</button>
</form>