<h1>Search Rooms</h1>
<form method="post">
    <h2>Select Price</h2>
    <label for="price_min">Minumum $:</label>
    <input name="price_min" placeholder="min">
    <label for="price_max">Maximum $:</label>
    <input name="price_max" placeholder="max">
    <br>
    <h2>Select Dates</h2>
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date">
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date">
    <br>
    <input name="search" value="Search Available Rooms" type="submit">
</form>

{{#each rooms}}
<div>
    <form method="post" action="/book_page">
        <h2>Room #: {{this.roomNumber}}</h2>
        <p>Room Price: ${{this.price}}</p>
        <img src={{this.image}} alt="room">
        <br>
        <input name="book" value="Book" type="submit">
    </form>
</div>
{{/each}}



